<div class="top-bar"> 
    <a href="#!/charities/{{main.selectedCauses[0]}}">
        <img src="img/back_button.png" alt="back button" height="25" class="back-button">
    </a>
    <div class="instructions">IN ORDER TO GO TO FAMILY ALLOCATION, PLEASE CHOOSE ONE CHARITY TO REPRESENT</div>
    <div></div>
</div>
<div class="num-compare-charities">
	<div class="num-causes-text"></div>
</div>
<div class="main-compare-container">
    <div class="compare-container">
    	<div class = "left">
            <div class="compare-categories">stated mission</div>  
            <div class="compare-categories">stated mission</div>
            <div class="compare-categories">stated mission</div>
            <div class="compare-categories">stated mission</div>
            <div class="compare-categories">stated mission</div>
            <div class="compare-categories">stated mission</div>  
        </div>
    	<div ng-repeat="compare in compares" class="compare"> 
        	<div class="compare-charity-icon"></div>
        	<div class="compare-charity-name">{{compare.name}}</div>
        	<div class="background-columns">
        		<ul class="compare-details">
        			<li class="compare-item">{{compare.mission}}</li>
        			<li class="compare-item">{{compare.years}}</li>
        			<li class="compare-item">{{compare.audience}}</li>
        			<li class="compare-item">{{compare.funding}}</li>
        			<li class="compare-item">{{compare.expenses}}</li>
        			<li class="compare-item">{{compare.rating}}</li>
        		</ul>
        	</div>
    	</div>
    </div>
    <div class="button-row">
        <a ng-href="#!/allocate" class="button button-row-position">CHOOSE THIS CHARITY</a>
    </div>
</div>