<div class="instructions">IN ORDER TO GO TO FAMILY ALLOCATION, PLEASE CHOOSE ONE CHARITY TO REPRESENT</div>
<div class="num-compare-charities">
	<div class="num-causes-text"></div>
</div>
<div class="compare-container">
	<!-- <div class = "left"> stated mission </div> -->
	<div ng-repeat="compare in compares" class="col"> 
	    <div class="col-md-2 offset-md-1 compare">
	    	<div class="charity-icon"></div>
	    	<div class="charity-name">{{compares[$index]}}</div>
	    	<div class = "background-columns">
	    		<ul style="list-style-type:circle" class ="text1"><li>{{stated_mission[$index]}}</li></ul>
	    		<ul style="list-style-type:circle" class ="text2"><li>{{years_of_operation[$index]}}</li></ul>
	    		<ul style="list-style-type:circle" class ="text3"><li>{{audience_size[$index]}}</li></ul>
	    		<ul style="list-style-type:circle" class ="text4"><li>{{total_funding[$index]}}</li></ul>
	    		<ul style="list-style-type:circle" class ="text5"><li>{{total_funding[$index]}}</li></ul>
	    		<ul style="list-style-type:circle" class ="text6"><li>{{total_expenses[$index]}}</li></ul>
	    		<ul style="list-style-type:circle" class ="text7"><li>{{charity_watch_rating[$index]}}</li></ul>
	    	</div>
	    </div>
	</div>
</div>
<div class="row">
	<a ng-href="#!/allocate"><div class="button allocate-button">ALLOCATE!</div></a>
</div>