.instructions {
	text-align: center;
}

.left {
	padding-top: 240px;
}

.compare-categories {
	padding-bottom: 20px;
}

.main-compare-container {
	padding-bottom: 30px;
}

.compare-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.compare {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 20px;
	margin: 20px;
}

.compare-charity-name {
	text-transform: uppercase;
	width: 180px;
}

.compare-charity-icon {
	height: 120px;
	width: 120px;
	background-color: grey;
}

.compare-details {
	list-style-type: circle;
}

.compare-item {
	font-size: 12px;
	font-style: italic;
	margin: 10px; 
}

.background-columns {
	margin: auto;
	width: 250px;
	height: 45vh;
	text-align: left;
	background-color: lightgrey;
	padding-top: 20px;
}
