<div class="top-bar"> 
    <a href="#!/charities/{{main.selectedCauses[0]}}">
        <img src="img/back_button.png" alt="back button" height="25" class="back-button">
    </a>
    <div class="instructions">IN ORDER TO GO TO FAMILY ALLOCATION, PLEASE CHOOSE ONE CHARITY TO REPRESENT</div>
    <div></div>
</div>
<div class="num-compare-charities">
	<div class="num-causes-text"></div>
</div>
<div class="main-compare-container">
    <table class="compare-container">
        <tr class="compare-table-row">
            <td class="compare-categories"></td>
            <td ng-repeat="compare in main.selectedCharities" ng-class="{ 'selected-charity': main.selectedCharity === compare }"
            class="charity-icon-container compare-table-entry">
                <img ng-src="{{compare.img}}" class="compare-charity-icon" 
                ng-click="selectCharity(compare)">
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories"></td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-charity-name"
            ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.name}}
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories">stated mission</td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-charity-mission compare-table-entry" ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.mission}}
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories">years of operation</td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-table-entry"
            ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.years}}
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories">audience size</td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-table-entry"
            ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.audience}}
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories">total funding 2016</td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-table-entry"
            ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.funding}}
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories">total expenses 2016</td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-table-entry"
            ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.expenses}}
            </td>
        </tr>
        <tr class="compare-table-row">
            <td class="compare-categories">classification</td>
            <td ng-repeat="compare in main.selectedCharities" class="compare-table-entry"
            ng-click="selectCharity(compare)" ng-class="{ 'selected-charity': main.selectedCharity === compare }">
                {{compare.classification}}
            </td>
        </tr>
    </table>
    <div class="button-row">
        <a ng-href="#!/calendar" class="button button-row-position">CHOOSE THIS CHARITY</a>
    </div>
</div>