<div class="top-bar">
    <div></div>
    <div class="instructions">ALLOCATE BETWEEN YOUR CHOSEN CHARITIES</div>
    <div></div>
</div>
<div class="main-container-allocate">
	<div class="budget">
		<div class="budget-text">REMAINING BUDGET</div>
		<div class="budget-tracker">
			<div class="amt-allocated">${{remaining}}</div>
			<div class="total-budget">&nbsp;/ $400</div>
		</div>
	</div>
	<div class="sliders-container">
		<div class="charity-slider">
			<div class="slider-user">
				<img class="slider-user-img" src="img/icon_katherine.png">
				<div class="slider-user-name">KATHERINE</div>
			</div>
			<img class="slider-charity-img" ng-src="{{main.selectedCharity.img}}" height="100">
			<div class="slider-charity-details">
				<div class="slider-charity-name">{{main.selectedCharity.name}}</div>
				<div class="slider-charity-impact"><span class="impact-bold">Impact:</span> {{main.selectedCharity.impact_before}} <span class="impact-val">{{(main.selectedCharity.impact_amt*slider1.value)/400| number:0}}</span> {{main.selectedCharity.impact_after}}</div>
				<div class="slider-bar">
		    		<rzslider rz-slider-model="slider1.value"
		          rz-slider-options="slider1.options"></rzslider>
				</div>
			</div>
			<div class="slider-allocation">
				<div class="allocation-header">ALLOCATION</div>
				<div class="slider-allocation-amt">${{slider1.value}}</div>
			</div>
		</div>

		<div class="charity-slider">
			<div class="slider-user">
				<img class="slider-user-img" ng-src="{{family[0].user_img}}">
				<div class="slider-user-name">{{family[0].user}}</div>
			</div>
			<img class="slider-charity-img" ng-src="{{family[0].img}}" height="100">
			<div class="slider-charity-details">
				<div class="slider-charity-name">{{family[0].name}}</div>
				<div class="slider-charity-impact"><span class="impact-bold">Impact:</span> {{family[0].impact_before}} <span class="impact-val">{{(family[0].impact_amt*slider2.value)/400| number:0}}</span> {{family[0].impact_after}}</div>
				<div class="slider-bar">
		    		<rzslider rz-slider-model="slider2.value"
		          	rz-slider-options="slider2.options"></rzslider>
				</div>
			</div>
			<div class="slider-allocation">
				<div class="allocation-header">ALLOCATION</div>
				<div class="slider-allocation-amt">${{slider2.value}}</div>
			</div>
		</div>

		<div class="charity-slider">
			<div class="slider-user">
				<img class="slider-user-img" ng-src="{{family[1].user_img}}">
				<div class="slider-user-name">{{family[1].user}}</div>
			</div>
			<img class="slider-charity-img" ng-src="{{family[1].img}}" height="100">
			<div class="slider-charity-details">
				<div class="slider-charity-name">{{family[1].name}}</div>
				<div class="slider-charity-impact"><span class="impact-bold">Impact:</span> {{family[1].impact_before}} <span class="impact-val">{{(family[1].impact_amt*slider3.value)/400| number:0}}</span> {{family[1].impact_after}}</div>
				<div class="slider-bar">
		    		<rzslider rz-slider-model="slider3.value"
		          	rz-slider-options="slider3.options"></rzslider>
				</div>
			</div>
			<div class="slider-allocation">
				<div class="allocation-header">ALLOCATION</div>
				<div class="slider-allocation-amt">${{slider3.value}}</div>
			</div>
		</div>

		<div class="charity-slider">
			<div class="slider-user">
				<img class="slider-user-img" ng-src="{{family[2].user_img}}">
				<div class="slider-user-name">{{family[2].user}}</div>
			</div>
			<img class="slider-charity-img" ng-src="{{family[2].img}}" height="100">
			<div class="slider-charity-details">
				<div class="slider-charity-name">{{family[2].name}}</div>
				<div class="slider-charity-impact"><span class="impact-bold">Impact:</span> {{family[2].impact_before}} <span class="impact-val">{{(family[2].impact_amt*slider4.value)/400| number:0}}</span> {{family[2].impact_after}}</div>
				<div class="slider-bar">
		    		<rzslider rz-slider-model="slider4.value"
		          	rz-slider-options="slider4.options"></rzslider>
				</div>
			</div>
			<div class="slider-allocation">
				<div class="allocation-header">ALLOCATION</div>
				<div class="slider-allocation-amt">${{slider4.value}}</div>
			</div>
		</div>
	</div>

	<div class="button-row">
		<a ng-href="#!/" class="button button-row-position">SUBMIT ALLOCATION</a>
	</div>
</div>