.main-container-allocate {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.budget {
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height: 80px;
	padding: 10px;
}

.budget-text {
	color: #BABABA;
	font-size: 14px;
}

.budget-tracker {
	display: flex;
	font-weight: normal;
	font-size: 28px;
	justify-content: center;
}

.amt-allocated {
	color: #5B79A8;
}

.total-budget {
	color: #BABABA;
}

.sliders-container {
	width: 870px;
}

.num-causes {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height: 80px;
	padding: 10px;
}

.num-causes-text {
	color: #BABABA;
	font-size: 14px;
}

.num-causes-counter {
	display: flex;
	font-weight: normal;
	font-size: 28px;
	letter-spacing: 10px;
	justify-content: center;
}

.curr-num-selected {
	color: #5B79A8;
}

.total-avail-selected {
	color: #BABABA;
}

.impact-bold {
	font-weight: bold;
}

.impact-val {
	display: inline-block;
	background-color: #DCE0E6; 
	font-weight: bold;
	width: 30px;
	text-align: center;
	border-radius: 2px;
}

.slider-user {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slider-user-name {
	font-family: 'Montserrat', sans-serif;
	color: #AAAAAA; 
	font-size: 14px;
}

.charity-slider {
	display: flex;
	width: 870px;
	justify-content: space-between;
	margin-bottom: 20px;
}

.slider-bar {
	width: 500px;
}

.slider-allocation {
	font-family: 'Montserrat', sans-serif;
	margin-left: 30px;
}

.allocation-header {
	padding-top: 20px;
	font-size: 14px;
	color: #BABABA; 
}

.slider-allocation-amt {
	font-size: 24px;
	color: #5B79A8;
}

.rzslider .rz-selection {
	background: #52C2A1;
}

.rzslider .rz-pointer {
	background-color: #52C2A1;
}

.rzslider .rz-pointer.rz-active:after {
	background-color: #52C2A1;
}

.rzslider .rz-pointer:after {
	background-color: #52C2A1;
}

.rzslider .rz-pointer:hover:after {
	background-color: #52C2A1;
}