<div class="top-bar">
    <div></div>
    <div class="instructions">ALLOCATE BETWEEN YOUR CHOSEN CHARITIES</div>
    <div></div>
</div>
<div class="main-container-allocate">
	<div class="budget">
		<div class="budget-text">REMAINING BUDGET</div>
		<div class="budget-tracker">
			<div class="amt-allocated">${{remaining}}</div>
			<div class="total-budget"> / $400</div>
		</div>
	</div>
	<div class="sliders-container">
		<div>
    		<rzslider rz-slider-model="slider1.value"
          rz-slider-options="slider1.options"></rzslider>
		</div>
		<div>
    		<rzslider rz-slider-model="slider2.value"
          rz-slider-options="slider2.options"></rzslider>
		</div>
		<div>
    		<rzslider rz-slider-model="slider3.value"
          rz-slider-options="slider3.options"></rzslider>
		</div>
		<div>
    		<rzslider rz-slider-model="slider4.value"
          rz-slider-options="slider4.options"></rzslider>
		</div>
	</div>
</div>