.page-container {
	display: flex;
	flex-direction: horizontal;
}

.sidebar {
	margin: auto;
	width: 150px;
	height: 100vh;
	text-align: center;
	background-color: lightgrey;
}

.sidebar-cause {
	text-align: center;
	padding: 20px;
}

.sidebar-cause-icon {
	height: 80px;
	width: 80px;
	background-color: grey;
	display:inline-block;
}

.active {
	border: 5px solid black;
}

.sidebar-cause-icon:hover {
	outline: 5px solid white;
}

.sidebar-cause-name {
	font-size: 14px;
	text-transform: uppercase;
}

.main-container {
	width: calc(100% - 150px); /*150px is width of sidebar*/
}

.message-container {
	height: calc(100% - 215px); /*215px is height of compare tool+header+info message*/
	overflow-y: auto;
	display: flex;
}

.message {
	width: 400px;
	margin-top: 200px;
	margin-left: 200px;
	text-align: center;
}

.charity-page-title {
	text-transform: uppercase;
}

.charities-container {
	height: calc(100% - 215px); /*215px is height of compare tool+header+info message*/
	overflow-y: auto;
	padding-left: 20px;
	padding-top: 20px;
}

.charity-filters {
	display: flex;
	justify-content: space-between;
	width: 775px;
	font-size: 14px;
}

.charity {
	display: flex;
	margin-bottom: 20px;
}

.charity-name {
	text-transform: uppercase;
}

.charity-description {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.charity-img {
	height: 120px;
	width: 120px;
	background-color: grey;
}

.charity-info {
	width: 650px;
}

.charity-details {
	display: flex;
	justify-content: space-between;
	width: 650px;
	font-size: 12px;
}

.comparison-tool {
	position: absolute;
    bottom: 0;
    height: 120px;
    width: calc(100% - 150px); /*150px is width of sidebar*/
    background-color: grey;
}

.compare-tool-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 800px;
}

.compare-spaces {
	display: flex;
}

.compare-slot {
	height: 100px;
	width: 100px;
	background-color: lightgrey;
	margin: 10px 0px 10px 10px;
}