.main-container {
	display: flex;
	flex-direction: horizontal;
}

.sidebar {
	margin: auto;
	width: 150px;
	height: 100vh;
	text-align: center;
	background-color: lightgrey;
}

.sidebar-cause {
	text-align: center;
	padding: 20px;
}

.sidebar-cause-icon {
	height: 80px;
	width: 80px;
	background-color: grey;
	display:inline-block;
}

.active {
	border: 5px solid black;
}

.sidebar-cause-icon:hover {
	outline: 5px solid white;
}

.sidebar-cause-name {
	font-size: 14px;
	text-transform: uppercase;
}

.charities-container {
	/*margin: auto;*/
	width: calc(100% - 150px); /*150px is width of sidebar*/
}

.message-container {
	height: calc(100% - 170px); /*170px is height of compare tool+header+info message*/
	overflow-y: auto;
	display: flex;
}

.message {
	width: 400px;
	margin-top: 200px;
	margin-left: 200px;
	text-align: center;
}

.comparison-tool {
	position: absolute;
    bottom: 0;
    height: 120px;
    width: calc(100% - 150px); /*150px is width of sidebar*/
    background-color: grey;
}