.page-container {
	display: flex;
	flex-direction: horizontal;
}

.top-bar {
	display: flex;
}

.sidebar {
	margin: auto;
	width: 150px;
	height: 100vh;
	text-align: center;
	background-color: #EFF2F6;
	font-family: 'Montserrat', sans-serif;
}

.sidebar-cause {
	text-align: center;
}

.sidebar-cause-tile {
	height: 80px;
	width: 80px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 3px;
	display:inline-block;
	color: #5B79A8;
}

.active {
	box-shadow: 0 0 0 3px #4A90E2;
	color: #4A90E2;
}

.sidebar-cause-tile:hover {
	box-shadow: 0 0 0 3px #4A90E2;
}

.active-sidebar-name {
	font-size: 12px;
	text-transform: uppercase;
	color: #4A90E2;
}

.sidebar-name {
	font-size: 12px;
	text-transform: uppercase;
	color: #5B79A8;
}

.sidebar-icon {
	font-size: 40px;
	margin-top: 20px;
}

.main-container {
	width: calc(100% - 150px); /*150px is width of sidebar*/
	color: #4A4A4A;
}

.message-container {
	height: calc(100vh - 226px); /*226px is height of compare tool+header+info message*/
	overflow-y: auto;
	display: flex;
}

.message {
	width: 400px;
	margin-top: 200px;
	margin-left: 200px;
	text-align: center;
}

.charity-page-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}

.charities-container {
	height: calc(100vh - 226px); /*226px is height of compare tool+header+info message*/
	overflow-y: auto;
	padding-left: 50px;
	padding-top: 20px;
}

.charity-filters {
	display: flex;
	justify-content: space-between;
	width: 775px;
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #979797;
	margin-bottom: 15px;
}

.charity {
	display: flex;
	margin-bottom: 20px;
}

.charity-name {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.charity-description {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.charity-img {
	height: 120px;
	width: 120px;
	background-color: #DCE0E6;
	border-radius: 5px;
}

.charity-info {
	width: 650px;
	padding-left: 20px;
}

.charity-details {
	display: flex;
	justify-content: space-between;
	width: 630px;
	font-size: 12px;
}

.comparison-tool {
	position: absolute;
    bottom: 0;
    height: 120px;
    width: calc(100% - 150px); /*150px is width of sidebar*/
    background-color: white;
    border-top: 1px solid #979797;
}

.compare-tool-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 780px;
	height: 100%;
}

.compare-spaces {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 70px;
}

.compare-slot {
	background-color: blue;
	height: 120px;
	width: 120px;
	background-color: lightgrey;
	border-radius: 3px;
	margin: 15px;
}