<div class="top-bar">
	<div></div>
	<div class="instructions">SELECT CAUSES THAT INTEREST YOU</div>
	<div></div>
</div>
<div class="num-causes">
	<div class="num-causes-text">NUMBER OF CAUSES SELECTED</div>
	<div class="num-causes-counter">{{main.numSelected}}/5</div>
</div>
<div class="main-container-causes">
	<div class="causes-container">
		<div ng-repeat="cause in causes" ng-click="selectCause(cause)" class="cause"> 
		    <div ng-class="{'selected-cause': main.selectedCauses.indexOf(cause) >= 0}" class="cause-icon"></div>
		    <div class="cause-name">{{cause}}</div>
		</div>
	</div>
</div>
<div class="row">
	<a ng-href="#!/charities"><div class="col-md-2 offset-md-8 button">FIND CHARITIES</div></a>
</div>

