<div class="top-bar">
	<div></div>
	<div class="instructions">SELECT CAUSES THAT INTEREST YOU</div>
	<div></div>
</div>
<div class="main-container-causes">
	<div class="num-causes">
		<div class="num-causes-text">NUMBER OF CAUSES SELECTED</div>
		<div class="num-causes-counter">
			<div class="curr-num-selected">{{main.numSelected}}</div>
			<div class="total-avail-selected">/5</div>
		</div>
	</div>
	<div class="causes-container">
		<div class="causes-group">
			<div ng-repeat="cause in main.causes" ng-click="selectCause(cause)" class="cause"> 
			    <div ng-class="{'selected-cause': main.selectedCauses.indexOf(cause) >= 0}" class="cause-tile">
			    	<div ng-class="main.selectedCauses.indexOf(cause) >= 0 ? 'selected-cause-icon' : 'cause-icon'" 
			    	 class="{{main.causeIcons[cause]}}" ></div>
			    </div>
			    <div ng-class="main.selectedCauses.indexOf(cause) >= 0 ? 'selected-cause-name' : 'cause-name'">{{cause}}</div>
			</div>
		</div>
	</div>
	<div class="button-row">
		<a ng-href="#!/charities" class="button button-row-position">FIND CHARITIES</a>
	</div>
</div>

