.num-causes {
	text-align: center;
}

.main-container-causes {
	display: flex;
	justify-content: center;
}

.causes-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	width: 1000px;
}

.selected-cause {
	border: 5px solid black;
}

.cause {
	margin: auto;
	text-align: center;
	width: 200px;
	padding: 20px;
}

.cause-icon {
	height: 120px;
	width: 120px;
	background-color: grey;
	display:inline-block;
}

.cause-name {
	text-transform: uppercase;
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}