.main-container-causes {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: calc(100vh - 110px);
	padding-bottom: 35px;
	overflow-y: auto;
}

.causes-container {
	display: flex;
	justify-content: center;
	min-height: 530px; 
	width: 100%;
	margin-bottom: 15px;
}

.causes-group {
	display: flex;
	flex-wrap: wrap;
	width: 825px;
}

.selected-cause {
	box-shadow: 0 0 0 4px #4A90E2;
}

.selected-cause-icon {
	font-size: 60px;
	margin-top: 35px;
	color: #4A90E2;
}

.selected-cause-name {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 10px;
	font-size: 14px;
	color: #4A90E2;
}

.cause {
	margin: auto;
	text-align: center;
	width: 165px;
}

.cause-tile {
	height: 130px;
	width: 130px;
	background-color: #EFF2F6;
	border-radius: 5px;
	display:inline-block;
}

.cause-icon {
	font-size: 60px;
	margin-top: 35px;
	color: #5B79A8;
}

.cause-name {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 10px;
	font-size: 14px;
	color: #5B79A8;
}


