<div class="top-bar">
    <div></div>
    <div class="instructions">ALLOCATE BETWEEN YOUR CHOSEN CHARITIES</div>
    <div></div>
</div>
<div class="calendar-container">
	<div class="calendar-great">Welcome back, Liu Family!</div>
	<div class="calendar-message">Now that the whole family is here, it's time to start allocating between your chosen charitites!</div>
	<div class="button-row">
        <a ng-href="#!/allocate" class="center-button">START ALLOCATION</a>
    </div>
	<img src="img/family_illus.png" alt="loading" height="280" class="allocate-waiting-img">
</div>