<div class="top-bar">
    <div></div>
    <div class="instructions">SYNC CALENDARS TO FIND A MEETING TIME</div>
    <div></div>
</div>
<div class="calendar-container">
	<div class="calendar-great">Let's find a time to meet!</div>
	<div class="calendar-message">Now that you've picked a charity you want to support, we'll help you find a time to meet with your family so you can allocate your family budget together.</div>
	<div class="button-row">
        <a ng-href="#!/waiting" class="center-button">LINK YOUR CALENDAR</a>
    </div>
	<img src="img/calendar_illus.png" alt="loading" height="280" class="calendar-img">
</div>
