.waiting-container {
	width: 100%;
	height: calc(100vh - 120px); /*120px is height of header+info message*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

.waiting-great {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #5B79A8;
	padding-bottom: 10px;
}

.waiting-message {
	width: 450px;
	text-align: center;
	font-size: 16px;
	color: #676767;
	padding-bottom: 40px;
}

.waiting-notification {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 50px;
}

.hidden-button {
	display: block;
	width: 100%;
	height: 30px;
}