<div class="top-bar">
    <div></div>
    <div class="instructions">WAITING FOR ALL FAMILY MEMBERS TO CHOOSE A CHARITY...</div>
    <div></div>
</div>
<div class="waiting-container">
	<div class="waiting-great">Great!</div>
	<div class="waiting-message">Thanks for syncing your calendar! We need all family members to choose a charity and link their calendars before continuing.</div>
	<div class="waiting-notification">We'll send you a notification when family allocation is ready!</div>
	<img src="img/loading_illus.png" alt="loading" height="280" class="waiting-img">
	<a ng-href="#!/allocate-intro" class="hidden-button"></a>
</div