<div class="top-bar">
    <div></div>
    <div class="instructions">WAITING FOR ALL FAMILY MEMBERS TO CHOOSE A CHARITY...</div>
    <div></div>
</div>
<div class="waiting-container">
	<div class="waiting-great">GREAT!</div>
	<div class="waiting-message">Before you continue to family allocation, we'll need all family members to finish choosing a charity.</div>
	<div class="waiting-notification">We'll send you a notification when family allocation is ready!</div>
	<img src="img/loading_illus.png" alt="loading" height="280" class="waiting-img">
</div>